DEV_BOT_TOKEN=6472550386:AAEP8CyROwMLvl7sYpn5_3_YpQi9pE8hryc
PROD_BOT_TOKEN=6472550386:AAEP8CyROwMLvl7sYpn5_3_YpQi9pE8hryc

USERBOT_API_ID=21284933
USERBOT_API_HASH=cf2c0d418f2e388340cceba19cbeb370
USERBOT_PHONE_NUMBER=+213673423695

BOT_ADMIN_ID=5000510953

# supabase config variables for analytics data collection
SUPABASE_PROJECT_URL=https://wvkhdkkxalqunamaennd.supabase.co
SUPABASE_API_KEY=A5QbpM1Mu00vvqiMrUGXyTjfikskfiEVgAoG4Zxx2JCzdoYCdiYyiDucnRodlzZtwaspGLxlo2+bzYKA0SH1TQ==

NODE_ENV=
